# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# Output and temporary audio files
audioOutput/*
!audioOutput/.gitkeep

audioInput/*
!audioInput/.gitkeep

soundfonts/*
!soundfonts/.gitkeep

bin/*
!bin/.gitkeep

# VS Code and IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
